<div class="wrapper dev">
   <div class="form-wrapper inner-dev">
      <img class="dev-image" src="{{picture_link}}.jpg" alt="{{first_name}} {{last_name}}'s profile picture">
      <h2>{{first_name}} {{last_name}}</h2>
      <div class="all-dev-info">
         <div class="each-tech-list">
            {{#each technologies as |tech|}}
               {{>tech}}
            {{/each}}
         </div>
         <div class="other-info">
            <div>
               <h3>Location:</h3>
               <h3>{{location}}</h3>
            </div>
            <div>
               <h3>Experience:</h3>
               <h3>{{yrs_experience}} yrs</h3>
            </div>
         </div>
   </div>
   <div class="contact-dev">
      📧 <a href="mailto:{{email}}">Contact</a>
   </div>
   </div>
</div>